/* layout geral */

.app {
  display: flex;
}

.conteudo {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

/* mobile */

@media (max-width:1024px) {

  .conteudo {
    margin-left: 0;
  }

}
